<footer class="c-footer md-footer-nav">
  <div class="u-container c-footer__container">
    <nav class="md-footer-nav__inner md-grid">
          <a href="bases/" title="Bases" class="md-flex md-footer-nav__link md-footer-nav__link--next" rel="next">
            <div class="md-flex__cell md-flex__cell--stretch md-footer-nav__title">
              <span class="md-flex__ellipsis">
                <span class="md-footer-nav__direction">
                  Next
                </span>
                Bases
              </span>
            </div>
            <div class="md-flex__cell md-flex__cell--shrink">
              <i class="md-icon md-icon--arrow-forward md-footer-nav__button"></i>
            </div>
          </a>
      </nav>
    </div>
  
   <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-footer-copyright">
        
          <div class="md-footer-copyright__highlight">
            Copyright &copy; 2018 - {{ site.author }}
          </div>        
      </div>
      
        
  <div class="md-footer-social">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="https://github.com/openbases" target="_blank" class="md-footer-social__link fa fa-github"></a>
      <a href="https://twitter.com/vsoch" target="_blank" class="md-footer-social__link fa fa-twitter"></a>
      <a href="https://linkedin.com/in/vsochat" target="_blank" class="md-footer-social__link fa fa-linkedin"></a>
      <a href="http://hub.docker.com/r/openbases" class="md-footer-social__link fa" target="_blank">
        <img src="{{ site.baseurl }}/assets/img/docker-clear.png" style="margin-left:10px" width="20px">
      </a>
  </div>

    </div>
  </div>

</footer>

<script src="{{ site.baseurl }}/assets/js/application.a59e2a89.js"></script>
<script>app.initialize({version:"0.17.4",url:{base:"."}})</script>      
